In [10]:
# Importing numpy
import numpy as np

# Importing pandas
import pandas as pd

In [11]:
#creating DataFrame form url and checking of forst 10 items

url = 'http://bit.ly/autolib_dataset'

df = pd.read_csv(url, encoding= 'Latin1')

df.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3          51 Rue EugÃÂ¨ne OudinÃÂ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7       17 Rue des Luaps ProlongÃÂ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

In [12]:
#Checking info our data.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [13]:
#Checking out our data for claening justifications.

# There were no duplicate instances, reasonable null instances


print(df.isnull().sum()) #completeness check
print('***************************************************')
print(df.duplicated().sum()) #consistency check
print('***************************************************')

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64
***************************************************
0
***************************************************

In [14]:
#Renaming my colums with two names for consistency to allow dropping unwated columns

df.rename(columns={'Bluecar counter':'Bluecar_counter','Utilib counter':'Utilib_counter','Utilib 1.4 counter': 'Utilib_1.4_counter','Charge Slots':'Charge_Slots','Charging Status':'Charging_Status','Displayed comment':'Displayed_comment','Postal code':'Postal_code','Rental status':'Rental_status','Scheduled at':'Scheduled_at','Station type':'Station_type','Subscription status':'Subscription_status'})

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3             51 Rue EugÃÂ¨ne OudinÃÂ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995               8 avenue MÃÂ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [15]:
# Check the number of cities in paris
cities = df[df['City'] == 'Paris']
print(cities.count())

print('***************************************************')

# most popular hour of day for picking up a Bluecar in Paris over the month of April 2018
# Overall?

df[(df.City == 'Paris')].groupby('hour')['hour'].count().sort_values(ascending = False).head(1)

Address                2816
Cars                   2816
Bluecar counter        2816
Utilib counter         2816
Utilib 1.4 counter     2816
Charge Slots           2816
Charging Status        2816
City                   2816
Displayed comment        67
ID                     2816
Kind                   2816
Geo point              2816
Postal code            2816
Public name            2816
Rental status          2816
Scheduled at              9
Slots                  2816
Station type           2816
Status                 2816
Subscription status    2816
year                   2816
month                  2816
day                    2816
hour                   2816
minute                 2816
dtype: int64
***************************************************

hour
21    147
Name: hour, dtype: int64

In [16]:
#Dropping rows and collumns that i will not require.

df.drop(df.loc[df['Kind']=='CENTER'].index, inplace=True) #droping Rows

df.drop(df.loc[df['Rental status']=='broken'].index, inplace=True) #droping Rows

df.drop(['Displayed comment', 'Scheduled at', 'Slots','minute'], axis =1,inplace  =True) #droping collums
        

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4665 entries, 0 to 4999
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              4665 non-null   object
 1   Cars                 4665 non-null   int64
 2   Bluecar counter      4665 non-null   int64
 3   Utilib counter       4665 non-null   int64
 4   Utilib 1.4 counter   4665 non-null   int64
 5   Charge Slots         4665 non-null   int64
 6   Charging Status      4665 non-null   object
 7   City                 4665 non-null   object
 8   ID                   4665 non-null   object
 9   Kind                 4665 non-null   object
 10  Geo point            4665 non-null   object
 11  Postal code          4665 non-null   int64
 12  Public name          4665 non-null   object
 13  Rental status        4665 non-null   object
 14  Station type         4665 non-null   object
 15  Status               4665 non-null   object
 16  Subscription status  4665 non-null   object
 17  year                 4665 non-null   int64
 18  month                4665 non-null   int64
 19  day                  4665 non-null   int64
 20  hour                 4665 non-null   int64
dtypes: int64(10), object(11)
memory usage: 801.8+ KB

In [17]:
#To proceed with ansering questions, I will create a new colum with reverese running totaol.

df['Running Difference'] = df['Bluecar counter'].sub(df['Bluecar counter'].shift())
df['Running Difference'].iloc[0] = df['Bluecar counter'].iloc[0]
df['Running Difference']

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

0       0.0
1       6.0
2      -3.0
3       0.0
4       0.0
       ...
4995    2.0
4996    2.0
4997   -3.0
4998    1.0
4999    2.0
Name: Running Difference, Length: 4665, dtype: float64

In [18]:
# What is the most popular hour for returning blue cars?
#This is the time the blue cars increased in count

df[df['Bluecar counter'] < 4].groupby('hour')['hour'].count().sort_values(ascending= False).head(1)

hour
18    154
Name: hour, dtype: int64

In [19]:

# What postal code is the most popular for picking up Bluecars? Does the most popular station belong to that postal code?

# Overall?


df[(df['Kind'] == 'STATION') & (df['Status'] == 'ok')].groupby('Public name')['Public name'].count().sort_values(ascending= False).nlargest(1)

Public name
Paris/Porte de Montrouge/8    13
Name: Public name, dtype: int64

In [20]:
# What postal code is the most popular for picking up Bluecars? Does the most popular station belong to that postal code?

# At the most popular picking hour?

df[(df['Kind'] == 'STATION') & (df['Status'] == 'ok') & (df['hour'] == 4)].groupby('Public name')['Public name'].count().sort_values(ascending= False).nlargest(1)

Public name
Paris/Claude Bernard/16    3
Name: Public name, dtype: int64

In [24]:
#Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars? 

df['Utilib_Diff'] = df['Utilib counter'].diff() #Calulating the reverese of running total
df['Utilib_Diff'].head()

0    NaN
1    0.0
2    0.0
3    1.0
4   -1.0
Name: Utilib_Diff, dtype: float64

In [25]:
#most popular hour of the day for picking up an Utilib in the city of Paris over the month of April 2018

df[df['Utilib_Diff'] < 0].groupby('hour')['hour'].count().sort_values(ascending= False).nlargest(1)

hour
11    16
Name: hour, dtype: int64

In [26]:
#most popular hour for returning cars? Utilib

df[df['Utilib_Diff'] > 0].groupby('hour')['hour'].count().sort_values(ascending= False).nlargest(1)

hour
7    16
Name: hour, dtype: int64

In [27]:
#Most popular picking hour in relation to Utilib

df[df['Utilib_Diff'] > 0].groupby('hour')['hour'].count().sort_values(ascending= False).nlargest(1)

hour
7    16
Name: hour, dtype: int64

In [28]:
#What postal code is the most popular for picking up Utilib Counter? Does the most popular station belong to that postal code?

df[(df['Kind'] == 'STATION') & (df['Status'] == 'ok') & (df['hour'] == 5)].groupby('Postal code')['Postal code'].count().sort_values(ascending= False).nlargest(1)

Postal code
75016    11
Name: Postal code, dtype: int64

In [29]:

#At the most popular picking hour?
df[(df['Kind'] == 'STATION') & (df['Status'] == 'ok') & (df['hour'] == 4)].groupby('Public name')['Public name'].count().sort_values(ascending= False).nlargest(1)

Public name
Paris/Claude Bernard/16    3
Name: Public name, dtype: int64

In [30]:
#most popular postal code for picking up utilib

df[(df['Kind'] == 'STATION') & (df['Status'] == 'ok') & (df['hour'] == 4)].groupby('Postal code')['Postal code'].count().sort_values(ascending= False).nlargest(2)

Postal code
75016    11
75015     9
Name: Postal code, dtype: int64